---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About cyberklats.ch"
	pubDate={new Date('November 01 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	I will use this place as a dump for random stuff I stumble across my daily journeys in #Neuland.
	</p>

	<h2>Disclaimer</h2>
	<p>
	I use this blog also as playground for my non existent developer skills :)
	So don't worry about broken stuff.
	</p>
	<p>
	Currently the page is built on:

	![Vercel](https://img.shields.io/badge/vercel-%23000000.svg?style=for-the-badge&logo=vercel&logoColor=white)
	![Next JS](https://img.shields.io/badge/Next-black?style=for-the-badge&logo=next.js&logoColor=white)
	![JavaScript](https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E)
	![Markdown](https://img.shields.io/badge/markdown-%23000000.svg?style=for-the-badge&logo=markdown&logoColor=white)
	</p>
</Layout>
