---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello Cybernaut!</h1>
			<p>
				Welcome to the official <a href="https://cyberklats.ch/">Cyberklats.ch</a> blog.
			</p>
			<p>
				You can find mostly find selfhosting / homelab stuff here.
			</p>
			<p>Also have a look at my other blogs / projects:</p>
			<ul>
				<li><a href="https://dreher.in/">dreher.in</a></li>
				<li><a href="https://blog.drehsec.tk/">blog.drehsec.tk</a></li>
				<li><a href="https://seconduct.de/">seconduct.de</a></li>
			</ul>
		<Footer />
	</body>
</html>
